# IntelliJ IDEA
/.idea/
/*.iml
/out/
/target/

# Maven wrapper (optional)
!.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# Mac OS
.DS_Store

# Eclipse (optional if someone uses Eclipse)
/.classpath
/.project
/.settings/
/bin/

# NetBeans (optional)
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
